
/* *{
    outline: 1px solid red;
} */
*,*:before,*:after{
    box-sizing: border-box;
}
.d-flex {
    display: flex;
}

.d-flex-w {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center{
    display: flex;
    justify-content: center;

}
body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.container{
    padding: 0px 12px;
    max-width: 1320px;
    margin: auto;
}
img{
    width: 100%;
    display: block;
}