<footer>
    <section class="call-to-action d-flex justify-content-center">
        <h4>加入會員取得 9 折優惠</h4>
        <button type="button">馬上註冊</button>
        </div>
    </section>

    <section class="add">
        <div class="container">
            <div class="logo-link">
                <div class="logo">
                    <a target="_blank" title="URBNSTEP" href="./index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg"
                        alt="URBNSTEP"></a>
                </div>
                <ul class="link">
                    <li><a href="#">商品列表</a></li>
                    <li class="story"><a href="#">品牌故事</a></li>
                </ul>
            </div>

            <div class="copyright">
                <p>Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </section>
</footer>